.p-bgImg:hover .bgImg{
    transform: scale(1)
  }
  .p-bgImg:hover .bgImg:before {
  display: block;
}
.bgImg{
    width: 100%;
    height: 100%;
    background-color: black; 
    background-position: center;
    background-size: cover;

}

.green-line-h2 h5:before {
  background: #25078a;
}
.green-line-h2 h5:before {
  position: absolute;
  content: '';
  width: 23px;
  height: 2px;
  left: 27px;
  top: 12px;
}
.green-line-h2 h5 {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  padding-left: 60px;
  margin-bottom: 13px;
}
.green-line-h2 h5 span {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
}
.green-line-h2 h5 span {
  color: #25078a;
}
.green-line-h2 p {
  font-size: 16px;
  line-height: 30px;
}
.author-thumb {
  border: 2px solid #25078a;
  border-radius: 50%;
  padding: 7px;
  width: 87px;
    height: 87px;
    background: #fff;

}

.experienct-box {
  border: 2px solid #25078a;
  background: #f6f6f6;

  padding: 10px;
  width: 100%;
}
.experienct-box .inner{
  background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.experienct-box .inner h2 {
  font-size: 50px;
  /* line-height: 50px; */
  margin-right: 15px;
  color: #25078a;
}
.experienct-box .inner p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  color: #757575;
}
.bg-img-zoom{
  background-size: 100% 100%;
  background-position: center;
  animation: bg-img-zoom-out 1.2s;


}
@keyframes bg-img-zoom-out{
  from{
    background-size: 120% 120%;
    
  }
  to{
    background-size: 100% 100%;
  }
}
.bg-img-zoom:hover{
  animation: bg-img-zoom 1.2s;
  background-size: 120% 120%;
}
@keyframes bg-img-zoom{
  from{
    background-size: 100% 100%;

  }
  to{
    background-size: 120% 120%;
  }
}

.bg-img-zoom:hover .btn{
  color: #fff;
  background-color: #25078a !important;
}

.bg-img-zoom:hover i{
  color: #fff !important;
}
.card .card-body .light-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 150px;
  line-height: 100px;
  color: rgb(117 117 117/5%);
  transform: rotate(-15deg);
}


.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before{
  border-bottom: none !important ;
}

.ant-tabs-tab {
  font-size: 18px;
  color: #fff;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #25078a;
  text-shadow: 0 0 0.25px currentcolor;
}
.ant-tabs-ink-bar {

  background: #25078a;
}
.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
  color: #25078a;
}
.ant-tabs-tab:hover {
  color: #25078a;
}

.list li:before {
  color: #25078a;
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.list{
  list-style: none;
  padding: 0;
  color: #fff;
  font-size: 18px;
}
.list li {
  padding-left: 1.3em;
}

.fade-in {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@media (min-width: 768px) {
  .overlap-cards{
    margin-top: -90px;
  }
}

.slide-up{
  animation: slide-up 2s;
}
@keyframes slide-up{
  from{
    opacity: 0.1;
    margin-top: 800px;
  }
  to{
    opacity: 1;
    margin-top: 0px;
  }
}


/* .carousel-inner .active {
} */

/* .bgImg::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
  } */
